/* loại trừ những đơn p có id là (top) trong khối*/
/* .top:not(p) {
  background-color: yellow;
} */
/* Loại trừ những đơn p xuất hiện đầu tiên trong khối */
/* .top:not(:first-of-type) {
  background-color: yellow;
} */
/* universal selector */
* {
  color: red;
}
/* element selector */
h1 {
  color: blue !important;
}
/* class or pseudo class */
.demo {
  color: green;
}
/* ID */
#theh1 {
  color: yellow;
}
